{% load staticfiles %}
<!-- Angular -->
<script type="text/javascript" src="{% static 'lib/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/angular/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/angular/angular-cookies.min.js' %}"></script>

<!-- Site-specific -->
<script type="text/javascript" src="{% static 'js/setview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/setview.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/setview.routes.js' %}"></script>

<!-- Apps/Controllers -->
<script type="text/javascript" src="{% static 'js/apps/home/home.js' %}"></script>
<script type="text/javascript" src="{% static 'js/services/sets.service.js' %}"></script>
